body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

form {
  margin-left: 30% ;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 500px;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

form div {
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

button[type="submit"] {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 40%;
}

button {
  margin-left: 30%;
  margin-top: 20px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(178, 234, 178);
}

table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
}

table thead tr th {
  background-color: lightgray;
  padding: 10px;
  font-weight: bold;
  text-align: left;
}

table tbody tr td {
  border: 1px solid lightgray;
  padding: 10px;
}